# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jovan Gavrilovic\Desktop\KIDS\Vezbe\Vezbe 8\kids_projekat_Jovan_Gavrilovic_rn8116\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
